.profileSiteWrapper{
  display: flex;
  width: 18%;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 100px;

.profileSiteheader{
  background-color: #266AEB;
  padding: 10px  10px;
  color: white;
  border-radius: 50px;
}
}